<div class='triple_icon_nav'>
  <h3 class="profile_sub_headers">Created</h3>
  <div class="triple_icon_top">
    <i class="icon-music triple_icons"></i>
  </div>
  <ul>
    <% if !@user_repos.empty? %>
      <% @user_repos.each do |repo| %>
        <li class="repo-name"><%= link_to repo.name, repo %></li>
      <% end %>
    <% else %>
      <% if current_user == @user %>
        <li>You have not created any repositories. <%=link_to "Click here", new_repository_path %> to get started!</li>
      <% else %>
        <li><%= @user.username %> has not created any repositories yet.</li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class='triple_icon_nav'>
  <h3 class="profile_sub_headers">Sporked</h3>
  <div class="triple_icon_top">
    <i class="icon-code-fork triple_icons"></i>
  </div>
  <ul>
    <% if @sporked_repos.any? %>
      <% @sporked_repos.each do |repo| %>
        <li class="repo-name"><%= link_to repo.name, repo %></li>
        <ul>
        <% repo.versions.each do |version| %>
          <% if version.user == @user %>
          <li><%= link_to "Version created on #{version.created_at.to_date}", repository_version_path(repo, version) %></li>
          <% end %>
        <% end %>
        </ul>
        <br>
      <% end %>
    <% else %>
      <% if current_user == @user %>
        <li>You have not sporked any repositories. <%=link_to  "Click here", repositories_path%> to get started! </li>
      <% else %>
        <li><%= @user.username %> has not sporked any repositories yet.</li>
      <% end %>
    <% end %>
  </ul>
</div>