<h3><%=@user.username%>'s Profile Page</h3>
<% unless current_user == @user %>
  <%= form_tag(follow_user_path, :remote => true) %>
      <%= hidden_field "user_id", @user.id %>
      <%= submit_tag "Follow" %>
  <% end %>

<%= render 'follow_stats' %>

<%= render partial: "user_profile" %>
<%= render partial: "repo_display" %>
