<%= render partial: "user_profile" %>
<%= render partial: "repo_display" %>
<%= render partial: "favorites_display" %>

<% if current_user == @user %>
  <div id="user_feed">
    <h3>Activity Feed</h3>
    <% if @feed_items.empty? %>
      <span class="blank_feed">Follow your favorite DJs on StrobeHub and view their activity here!</span>
    <% else %>
      <% @feed_items.each do |item| %>
        <span class="username_feed"><%= link_to item.user.username, user_path(item.user) %></span>
        made a new mix:<br>
        <span class="respository_name_feed"><%= link_to item.repository.name, repository_version_path(item.repository, item) %></span>
        <strong><%= time_ago_in_words(item.updated_at) %> ago</strong>
        <br><br>
      <% end %>
    <% end %>
  </div>
<% end %>