<h3><%=@user.username%>'s Profile Page</h3>
<% unless current_user == @user %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render 'relationships/unfollow' %>
    <% else %>
      <%= render 'relationships/follow' %>
    <% end %>
  </div>
<% end %>

<%= render 'follow_stats' %>

<%= render partial: "user_profile" %>
<%= render partial: "repo_display" %>

<h4><%= @user.username %>'s Feed</h4>
<div id="user_feed">
  <% @feed_items.each do |item| %>
    <span class="username_feed"><%= link_to item.user.username, user_path(item.user) %></span>:
    <span class="respository_name_feed"><%= link_to item.repository.name, repository_version_path(item.repository, item) %></span>
    <strong><%= time_ago_in_words(item.updated_at) %> ago</strong>
  <% end %>
</div>
