<h2>
  <%= @repository.name %>: Version created on <%= @version.created_at.to_date %> by <%= @version.user.username %>
</h2>
<h5>
	<% if current_user == @version.user %>
	  <%= link_to "Edit this", edit_repository_version_path(@repository, @version) %>
	<% else %>
	  <%= button_to "Spork this", spork_version_path(@repository, @version), :method => "post" %>
	<% end %>
</h5>
<%= render partial: 'editor/editor' %>
<!-- make setting so that you can't change the track, just play/pause -->
