<div class='show_page_header'>
	<div class='title'>
		<h2>
		  <%= @repository.name %>
		</h2>
		<%=  @version.parent_version ? 'Sporked version ' : 'Master version ' %>created on <%= @version.created_at.to_date %> by <%= @version.user.username %>
	</div>
	<div class='tags'>
		<% @tags.each do |tag| %>
			<span class='tag'>
				<%= link_to tag.name, tag %>
			</span>
		<% end %>
		</ul>
	</div>
</div>
<br>
<br>
<%= render partial: 'editor/editor' %>

<div class='repo_info'>
	<div class='description'>
		Description: <%= @repository.description %>
		<br>
		<br>
		<%= render 'users/user_widget', user:@repository.creator %>
	</div>

	<div class='versions_list'>

		Versions:
		<br>
		<% if @version.parent_version_id %>
			<h4><%= link_to "View version history", version_history_path(@repository, @version) %></h4>
		<% else %>
			<h3 class="master-version">Master Version</h3>
		<% end %>
		<ul>
			<% @repository.versions do |version| %>
				<li>
					<%= link_to version.id, repository_version_path(@repository, version) %>
					<br>
					<%= render 'users/user_widget', user:version.user %>

				</li>
			<% end %>
		</ul>
	</div>
</div>

<h5>
	<% if current_user != @version.user %>
		<span id="spork_version">
	  <%= button_to "Spork this", spork_version_path(@repository, @version), :method => "post" %>
		</span>
	<% end %>
</h5>
<!-- make setting so that you can't change the track, just play/pause -->

