<div id="container">
  <ul>
    <%= render 'editor/controls' %>
  </ul>
  <ul id="track_list">
    <%= render 'editor/scroll' %>
    <%= render 'editor/dropzone' %>
  </ul>
</div>

<div id="save_version">
  <span id="version_owner" style="visibility:hidden"><%= @version.user.id %></span>
  <span id="current_user" style="visibility:hidden"><%= current_user.id if current_user %></span>
</div>

<%= render 'editor/track_template' %>
