<div id="container">
  <ul id="track_list">
    <li class='track_row'>
      <div class='control_panel'>
        <div id='strobe'>Strobe</div>
        <div id='global_controls'>
          <a href="#" id="play_all">></a>
          <a href="#" id="stop_all">[ ]</a>
        </div>
        <div id='global_info'>
          <div class='minutes'>
            00:
          </div>
          <div class='seconds'>
            00.
          </div>
          <div class='milliseconds'>
            000
          </div>
          <div class='label'>
            &nbsp;sec
          </div>
        </div>
        <div id='add_track'>
          <%= link_to @repository.name, @repository %>
        </div>
      </div>
    </li>
  </ul>

  <div id="dropzone">
    <h1><a href="/" class='add_track'>DROP A BEAT </a></h1>
    <%= form_tag({ :action => :create,:controller => :tracks}, :id =>"song_upload", :multipart => true) do %>
      <%= file_field_tag :file %>
      <%= submit_tag("Upload") %>
    <% end %>
  </div>

  <div id="save_version">

    <span id="version_owner" style="visibility:hidden"><%= @version.user.id %></span>
    <span id="current_user" style="visibility:hidden"><%= current_user.id if current_user %></span>
    <%= form_for( :version,
                  :html => { :method => "put" },
                  :url => repository_version_path(@repository, @version)) do |f|  %>
      <%= f.submit "SAVE IT" %>
    <% end %>
  </div>

</div>

<script type="text/template" class="template">
  <!-- in this an individual track is being passed in as obj -->
  <li class="track_row" id="track_{{= obj.index }}" data-index="{{= obj.index}}">
    <div class="track_controls">
      {{=obj.filename()}}
      <br>
      <a class='resume_track' href='#'>></a>
      <a class='stop_track' href='#'>[ ]</a>
    </div>

    <div class="track_line">
      <div class="audio_clip" style="width:{{=pixelize(obj.duration)}}px;left:{{=pixelize(obj.delay)}}px">
      </div>
      <div class="progress_bar"></div>
    </div>

    <div class="track_info">
      delay: {{= Math.floor(obj.delay*1000)/1000 }}
      <br>
      offset: {{= Math.floor(obj.offset*1000)/1000 }}
      <br>
      duration: {{= Math.floor(obj.duration*1000)/1000 }}
      <br>
      original length: {{= Math.floor(obj.trackLength*1000)/1000}}
    </div>
  </li>
</script>
