<div id="container">
  <ul id="track_list">
    <li class='track_row'>
      <div class='control_panel'>
        <div id='strobe'>Strobe</div>
        <div id='global_controls'>
          <a href="#" id="play_all">></a>
          <a href="#" id="stop_all">[ ]</a>
        </div>
        <div id='global_info'>
          <div class='minutes'>
            00:
          </div>
          <div class='seconds'>
            00.
          </div>
          <div class='milliseconds'>
            000
          </div>
          <div class='label'>
            &nbsp;sec
          </div>
        </div>
      </div>
    </li>
    <li class='track_row thin'>
      <div class='scroll_control thin'>
        scroll:
      </div>
      <div class='scroll_container thin'>
        <div class="scrollbar">
        </div>
      </div>
      <div class='scroll_info thin'>
        &nbsp;view: <span class='scroll_time'>
          <span class='minutes'>
            00:
          </span>
          <span class='seconds'>
            00.
          </span>
          <span class='milliseconds'>
            000
          </span>
          &nbsp;sec
        </span>
      </div>
    </li>

    <li>
      <div id="dropzone">
        <h1><a href="/" class='add_track'>DROP A BEAT </a></h1>
        <%= form_tag({ :action => :create,:controller => :tracks}, :id =>"song_upload", :multipart => true) do %>
          <%= file_field_tag :file %>
          <%= submit_tag("Upload") %>
        <% end %>
      </div>
    </li>
  </ul>

  <div id="save_version">
    <span id="version_owner" style="visibility:hidden"><%= @version.user.id %></span>
    <span id="current_user" style="visibility:hidden"><%= current_user.id if current_user %></span>

    <%= form_for( :version,
                  :html => { :method => "post" },
                  :url => update_version_path(@repository, @version)) do |f|  %>
      <%= f.submit "SAVE IT" %>
    <% end %>
  </div>


  <%= form_tag(favorites_path, :method => 'post', :remote => true) do %>
    <%= hidden_field_tag "version_id", @version.id %>
    <%= submit_tag "Favorite" %>
  <% end %>


<script type="text/template" class="template">
  <!-- in this an individual track is being passed in as obj -->
  <li class="track_row" id="track_{{= obj.index }}" data-index="{{= obj.index}}">
    <div class="track_controls">
      {{=obj.filename()}}
      <br>
      <a class='resume_track' href='#'>></a>
      <a class='stop_track' href='#'>[ ]</a>
    </div>
    <div class='track_window'>
      <div class="track_line">
        <div class="audio_clip" style="width:{{=pixelize(obj.duration)}}px;left:{{=pixelize(obj.delay)}}px">
        </div>
        <div class="progress_bar"></div>
      </div>
    </div>
    <div class="track_info">
      delay: <span class='delay'>{{= Math.floor(obj.delay*1000)/1000 }}</span>
      <br>
      offset: <span class='offset'>{{= Math.floor(obj.offset*1000)/1000 }}</span>
      <br>
      duration: <span class='duration'>{{= Math.floor(obj.duration*1000)/1000 }}</span>
      <br>
      original length: {{= Math.floor(obj.trackLength*1000)/1000}}
    </div>
  </li>
</script>
