<div id="user_nav">
  <ul class="nav">
  	<li><%= link_to "Home", '/' %></li>
  <% if current_user %>
    <span class="username">Logged in as <%= link_to current_user.username, user_path(current_user) %></span>
    <li><%= link_to "Log out", logout_path %></li>
  <% else %>
    <li><%= link_to "Sign up", new_user_path %></li>
    <li><%= link_to "Log in", login_path %></li>
  <% end %>
  </ul>
</div>