<div class="left_nav">
  <ul class="nav_links">
  	<li>
      <h2>
        <span id="navbar_title"><%= link_to "Strobehub", root_url %></span>
      </h2>
    </li>
  </ul>

  <div class="user_tools">
    <ul id="left_nav_list">
      <li class="left_nav_list_item"><a href="<%= new_repository_path %>"><i class="icon-music left_nav_icon"></i></a><span class="left_nav_text">Make a new repo<span></li>
      <li class="left_nav_list_item"><a href="<%= tags_path %>"><i class="icon-cloud left_nav_icon"></i></a><span class="left_nav_text">View all repos<span></li>
      <li class="left_nav_list_item"><a href="<%= users_path %>"><i class="icon-group left_nav_icon"></i></a><span class="left_nav_text">View all users<span></li>
    </ul>
  </div>

  <div class='user_widget'>

    <% if current_user %>
      <%= link_to gravatar_image_tag(current_user.email, class:'gravatar'),  user_path(current_user)%>
      <br>
        <h3>
          <%= link_to current_user.username, user_path(current_user) %>
        </h3>
        <h3>
          <%= link_to "Log out", logout_path %>
        </h3>
    <% else %>

      <h3>
        <%= link_to "Sign up", new_user_path %>
      </h3>

      <h3>
        <%= link_to "Log in", login_path %>
      </h3>
    <% end %>
  </div>
  </div>
</div>
