<!DOCTYPE html>
<html>
<head>
	<title>Strobehub</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
</head>
<body style="background:url('<%= get_random_image %>') no-repeat center fixed black;">
	<%= render "layouts/navbar" %>
		<div class='content'>

		<div class="error_flash">
			<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, class: "alert",  :id => "flash_#{name}" %>
			<% end %>
		</div>

		<%= yield %>
	</div>

</body>
</html>
